.message {
    display: inline-block;
    flex-direction: row;
    vertical-align: baseline;
    background: rgba(40, 180, 131, .1);
    width: 96%;
    padding: .1rem;
    margin: .4rem .6rem;
    border-radius: .2rem;
}

.message__author {
    display: flex;
    font-size: .8rem;
    margin: .2rem;
}

.message__author span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message__content {
    display: inline-block;
    margin: .2rem;
    word-break: break-all;
}

.message__dtSended {
    float: right;
    position: relative;
    margin-right: 1rem;
    z-index: 10;
}

.message__dtSended span {
    font-size: .7rem;
    vertical-align: top;
    display: inline-block;
  }